.snackbar {
  max-width: 37rem;
}

.snackbar.snack-failure .snackbar-content {
  background-color: $color-ds-red;
}

.snackbar.snack-info .snackbar-content {
  background-color: $color-ds-green;
}
.snackbar.snack-warning .snackbar-content {
  background-color: $color-ds-orange;
  color: $color-ds-darkblue;
}

.snackbar-action-wrapper > button {
  color: $color-ds-yellow;
  padding:.25rem;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: .5rem;
  text-transform:uppercase;
}

.snackbar-action-wrapper > a {
  color: $gray-800;
  margin-left: .5rem;  
  text-transform:uppercase;  
}

.snackbar-action-wrapper button:hover {
  background-color: transparent;
  text-decoration: underline;
}

.snackbar-message-text {
  margin-right:.25rem;
}

#snackbar-container {
  z-index: 999;
}
