.main-spinner .pageloading i {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.dashboard-main-content {
  overflow: auto;
  /* so top can be repositioned when header height changes (see fixScrollbar) */
  position: relative;
}

.dashboard-main-content .row,
 {
  /* avoids overflow in x for the entire page and the appearance of a horix scrollbar */
  margin-left:0;
  margin-right:0;
}

.dashboard-header {
  color: $color-ds-darkblue;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.dashboard-header .title {
  font-size: 2.4rem;
  font-weight: 400;
}

.dashboard-header .logo  {
  height: 4rem;
  margin-bottom: 2rem;
}

.dashboard-header .hover-icon {
  padding: .5rem; /* helps position the tooltip */
}

.propositionsSection {
  padding-top:1.5rem;
  padding-bottom:4rem;
}

.initializationSection {
  padding-top:4rem;
  padding-bottom:4rem;
}

.schemesSection {
  padding-top:4rem;
  padding-bottom:4rem;
  border-bottom-color: $color-ds-bluegreen;
  border-bottom-width: .3rem;
  border-bottom-style: solid;
  border-top-color: $color-ds-bluegreen;
  border-top-width: .3rem;
  border-top-style: solid;
}

.schemesSection .body {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}


.initializationSection {
  background-image: url("./DS_BRAND_BLANK-PATTERN_BLUE_V01-2.jpg");
  color: $color-ds-white;
}

.initializationSection .body {
  margin-bottom:2.5rem;
}

.initializationSection .list-items {
  margin-bottom:3rem;
}

.initializationSection .list-item {
  margin-bottom: 1rem;
}

.initializationSection .bullet {
display: inline-block;
background-color: $color-ds-black;
margin-right: 1rem;
@extend .rounded-circle;
width: 1.7rem;
height: 1.7rem;
line-height: 1.7rem;
text-align: center;
}

.initializationSection .box {
  border-color: $color-ds-white;
  border-width: .1rem;
  border-style: solid;
  padding: 1.5rem;
  font-style: italic;
}

.schemes-loading {
  padding: 2rem;
}

.dashboard-schemes li.list-group-item {
  padding: 0;
  margin-bottom: 1rem;
}

.dashboard-schemes li.list-group-item div.row {
  width:100%;
  cursor: pointer; 
}

.dashboard-schemes li.list-group-item:not(.selected) {
  /**
   * to expand the "hot" clickable area
   */
  padding-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $color-ds-grey-1;
}

.dashboard-schemes li.list-group-item .scheme-use-button {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
 }

.dashboard-schemes li.list-group-item .scheme-use-button table {
  width: 100%
}

.dashboard-schemes li.list-group-item:not(.selected):hover .scheme-use-button,
.dashboard-schemes li.list-group-item.selected .scheme-use-button {
  background-color: $color-ds-bluegreen;
}

.dashboard-schemes li.list-group-item.selected,
.dashboard-schemes li.list-group-item:not(.selected):hover,
.dashboard-schemes li.list-group-item.selected .scheme-arrow-up,
.dashboard-schemes li.list-group-item.selected .scheme-arrow-down,
.dashboard-schemes li.list-group-item:not(.selected):hover .scheme-arrow-up,
.dashboard-schemes li.list-group-item:not(.selected):hover .scheme-arrow-down {
  color: $color-ds-white;
}

.dashboard-schemes li.list-group-item:not(.selected) .scheme-icon .selected {
  display: none;
}

.dashboard-schemes li.list-group-item:not(.selected):hover .scheme-icon img.selected {
  display: inline-block;
}

.dashboard-schemes li.list-group-item.selected .scheme-icon img.not-selected,
.dashboard-schemes li.list-group-item:not(.selected):hover .scheme-icon img.not-selected {
  display: none;
}

.dashboard-schemes li.list-group-item .scheme-icon {
  width: 1.5rem;
  display: inline-block;
}

.dashboard-schemes li.list-group-item .scheme-icon img {
  height: 1.5rem;
  width: 1.5rem;
}

.dashboard-schemes li.list-group-item .scheme-name {
  display: inline-block;
  font-weight: 500;
}


.dashboard-schemes li.list-group-item .scheme-arrow-up,
.dashboard-schemes li.list-group-item .scheme-arrow-down {
  color: $color-ds-grey-3;
}

.dashboard-schemes li.list-group-item.selected .scheme-arrow-down {
  display: none;
}

.dashboard-schemes li.list-group-item:not(.selected) .scheme-arrow-up {
  display: none;
}

.dashboard-schemes  .scheme-name.activeLocks {
  font-weight: 300 !important;
  padding-right: 1rem;
}

.dashboard-schemes li.list-group-item.selected .scheme-name.activeLocks,
.dashboard-schemes li.list-group-item:not(.selected):hover .scheme-name.activeLocks {
    color: $color-ds-white;
}

.dashboard-schemes li.list-group-item:not(.selected) .scheme-name.activeLocks {
  color: $color-ds-orange;
}

.scheme-dashboard {
  width: 100%;
  color: $color-ds-black;
}

.scheme-dashboard .pageloader {
  padding-top: 1rem;
}

.scheme-dashboard-body.pageloader {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.scheme-dashboard .scheme-dashboard-body {
  border-bottom-color: $color-ds-lightblue;
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  background-color: $color-ds-white;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.scheme-dashboard .scheme-dashboard-body > div.message {
  padding: 1rem;
  text-align: center;
}

.scheme-dashboard .scheme-dashboard-body .btn-submit,
.scheme-dashboard .scheme-dashboard-body .spinbutton {
  white-space: nowrap;
  width: 6.1rem;
}

.scheme-dashboard .scheme-dashboard-body.lockingTokens .dropdown {
  /**
    so the DDDL items won't get too wide and wrap
  */
  padding-right: 1.2rem;
}

.redeemSection {
  background-color: $color-ds-darkblue;
}

.redeemSection {
  color: $color-ds-white;
  vertical-align: middle;
  display: inline-block;
  width:100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.propositionsSection .title {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border-top-width: .3rem;
  border-top-style: solid;
  padding-top: .75rem;
}

.propositionsSection .title.first {
  border-top-color: $color-ds-green;
}

.propositionsSection .title.second {
  border-top-color: $color-ds-darkblue;
}

.propositionsSection .title.third {
  border-top-color: $color-ds-bluegreen;
}

.propositionsSection .icon {
  margin-bottom: 2.25rem;
  width: 100%;
  text-align: center;
}

.propositionsSection .icon img {
  width: 10rem;
}

.propositionsSection .proposition {
    margin-bottom: 3rem;
  }

.initializationSection .title,
.redeemSection .title {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.redeemSection .body {
  text-align: center;
  margin-bottom: 1.5rem;
}

.redeemSection .redeemables {
  text-align:center;
  padding-bottom: 3rem;
}

.redeemSection .redeemables .title {
  font-weight: 400;
  font-size: 1.3rem;
  color: $color-ds-yellow;
  margin-bottom: 1rem;
  background-color: transparent;
}

.redeemSection .redeemables .body .breakdown {
  text-align:left;
  display: inline-block;
}

.redeemSection .redeemables .body .breakdown table th {
  padding-top: .25rem;
  padding-bottom: .25rem;
}
.redeemSection .redeemables .body .breakdown table td {
  padding-top: .1rem;
  padding-bottom: .1rem;
}

.redeemSection .redeemables .body .breakdown table th {
  text-decoration: underline;
}

.redeemSection .redeemables .body .breakdown table th {
  color: $color-ds-white;
  font-size: 1rem;
}

#globalRedeemBtn:hover,
#globalRedeemBtn {
  background-color: transparent;
  border-color: $color-ds-white;
  color: $color-ds-white;
  margin-bottom: 2rem;
}

#globalRedeemBtn.enabled:hover {
  background-color: $color-ds-black;
  border-color: $color-ds-black;
}

.pie-chart {
  padding-left:1rem;
  padding-right:1rem;
}

.pie-chart .body {
  text-align: center;
  margin-bottom: 2rem;
}

.pie-chart img {
  max-width:100%;
  max-height:auto;
  margin-bottom: 2rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .propositionsSection .proposition {
      margin-bottom: 0;
   }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

  .propositionsSection {
    padding-left:3rem;
    padding-right:3rem;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .pie-chart .chart {
    padding-left:2rem;
    padding-right:2rem;
  }

}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

table.locksForRep {
  border-top: solid $color-ds-black 1px;
}

table.locksForRep td {
  vertical-align: middle;
  padding-bottom: 0;
  padding-top: 0;
  height: 2.5rem;
}

table.locksForRep td .fa-spin {
  margin-top: .55rem;
  margin-bottom: .55rem;
}

table.locksForRep td.actions {
  text-align:center;
  padding-left:0;
  padding-right:0;
  white-space:nowrap;
}

table.locksForRep td button {
  margin-bottom: 0;
  font-size: 1rem;
}

table.locksForRep td button:disabled,
table.locksForRep td button:disabled:hover {
  color: inherit;
}

button.spinbutton.btn-submit:disabled, 
button.spinbutton.btn-submit:disabled:hover {
  @extend .btn-submit:hover;
}

.locksRefreshButton .spinbutton-icon {
  color: $color-ds-darkblue !important;
  margin-bottom: .5rem;
  margin-left: .25rem;
}

.redeemSection .pageloading i {
  color: $color-ds-green;
}

metamaskfeedback .metamask-feedback {
  display: inline-block;
  white-space: nowrap;
}

metamaskfeedback .metamask-icon {
  width: 1.5rem;
  margin-left: .5rem !important;
  padding-bottom: .4rem;
}

metamaskfeedback .metamask-text {
  margin-left: .5rem !important;
  display: inline-block;
}
