.balloon .popover-header {
  border-bottom-color: $color-ds-grey-5;
  border-bottom-width: 1;
  border-bottom-style: solid;
}

.balloonTitle {
  display: inline-block;
  color: $color-ds-red;
  font-size: 1rem;
}

.balloonBody {
  background-color: $color-ds-black;
  color: $color-ds-white;
}

.balloonTitle button.closeBalloon {
  color: $color-ds-yellow;
  background-color: $color-ds-black;
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: .3rem;
  padding-right: .9rem;
  cursor: pointer;
}

.balloonTitle button.closeBalloon:hover {
  text-decoration: underline;
}

.balloon.failure .body {
  color: $color-ds-white;
  background-color: $color-ds-red;
}

.balloon.info .body {
  color: $color-ds-white;
  background-color: $color-ds-darkblue;
}

.balloon.info .body a {
  margin-left: .5rem;  
  color: $color-ds-yellow;
  text-transform:uppercase;  
}

.balloon .message {
  display: inline-block;
  margin-right: 1rem;
}

