.banner {
  position: absolute;
  z-index: 997;
  width: 100%;
  text-align: center;
}

.banner .body {
  color: $color-ds-white;
  background-color: $color-ds-red;
  padding-top: 0.75rem;
  padding-right: 1.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  display: inline-block;
  @extend .shadow-sm;
  position: relative; /* for the close icon */
}

.banner .message {
  display: inline-block;
  margin-right: 1rem;
}

.banner button.close {
  color: $color-ds-white;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 0.6rem;
  padding-right: .9rem;
}

.banner button.close span {
  color: $color-ds-white;
}

.banner.au-enter-active {
animation: slideDown 1s;
}

.banner.au-leave-active {
animation: slideUp 1s;
}

.banner.au-stagger {
animation-delay: 50ms;
}

@keyframes slideDown {
0% { transform: translateY(-100%) };
100% { transform: translateY(0%) };
}

@keyframes slideUp {
0% { transform: translateY(0%) };
100% { transform: translateY(-100%) };
}
