/** 
  DAOstack palette.
  Note that some of these colors are hard-coded in index.ejs.  TODO: Compile these colors into a straight
  .css file for inclusion in index.ejs.
*/
$color-ds-black: #000000;
$color-ds-grey-7: #202020;
$color-ds-grey-6: #4C4C4C;
$color-ds-grey-5: #757575;
$color-ds-grey-4: #9B9B9B;
$color-ds-grey-3: #B5B5B5;
$color-ds-grey-2: #CECECE;
$color-ds-grey-1: #EDEDED;
$color-ds-white: #FFFFFF;
$color-ds-lightblue: #1AAAAD;
$color-ds-darkblue: #007BBC;
$color-ds-yellow: #FFD110;
$color-ds-bluegreen: #1AAAAD;
$color-ds-green: #3DBB7E;
$color-ds-red: #E8290A;
$color-ds-orange: #F25C05;

