@import "./colors";

.dialog {
  color: $color-ds-black;
  background-color: $color-ds-white;
}

.dialog ux-dialog-header {
  font-weight: 500;
  font-size: 1.2rem;
}


.dialog img.logo,
ux-dialog-header .material-icons {
  position: relative;
  top: .3rem;
  margin-right: .4rem;
}

.dialog .body div {
  margin-bottom: 1rem;
}

ux-dialog-body .important {
  font-weight: 500;
}

.dialog .body .buttonContainer,
.dialog .body .userAddressContainer
{
  text-align: center;
  padding-top: .5rem;
}

.dialog .body  etherscanlink a,
.dialog .body  etherscanlink a:hover,
.dialog .body .copy-to-clip-button,
.dialog .body .copy-to-clip-button:hover
{
  color: $color-ds-darkblue;
}

ux-dialog {
  border-radius: 0 !important;
  border-width: 0 !important;
}

ux-dialog.connections,
ux-dialog.alert {
  border-top-width: .5rem !important;
  border-top-color: $color-ds-black !important;
  max-width: 50rem;
}

ux-dialog-overlay.active {
  background-color:$color-ds-black;
  opacity: .5 !important;
}

ux-dialog.connections ux-dialog-body,
ux-dialog.alert ux-dialog-body {
  padding-bottom: .25rem !important;
}

.dialog.connections pageloading .fa-spin {
  margin-top: .4rem;
}
