@import "./colors";

.dialog {
  color: $color-ds-black;
  background-color: $color-ds-white;
}

.dialog ux-dialog-header {
  font-weight: 500;
  font-size: 1.2rem;
}


.dialog img.logo,
ux-dialog-header .material-icons {
  position: relative;
  top: .3rem;
  margin-right: .4rem;
}

.dialog .body div {
  margin-bottom: 1rem;
}

ux-dialog-body .important {
  font-weight: 500;
}

.dialog .body .buttonContainer,
.dialog .body .userAddressContainer
{
  text-align: center;
  padding-top: .5rem;
}

.dialog .body  etherscanlink a,
.dialog .body  etherscanlink a:hover,
.dialog .body .copy-to-clip-button,
.dialog .body .copy-to-clip-button:hover
{
  color: $color-ds-darkblue;
}

ux-dialog {
  border-radius: 0 !important;
  border-width: 0 !important;
}

ux-dialog-container>div>div {
  min-width: 10rem;
}

ux-dialog.connections,
ux-dialog.alert {
  border-top-width: .5rem !important;
  border-top-color: $color-ds-black !important;
  max-width: 53rem;
  min-width: 10rem;
}

ux-dialog.connections .disclaimer {
  overflow-y: auto;
}

ux-dialog.connections .disclaimer .checks {
  margin-left: 1rem;
}

ux-dialog.connections .disclaimer .checks label {
  padding-left: 1.75rem;
  font-weight: 500;
  color: $color-ds-black-2;
}

ux-dialog.connections .disclaimer .title {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

ux-dialog.connections .disclaimer .body p:before {
  content: "\2022";
  margin-right: .35rem;
}

ux-dialog.connections .disclaimer .checks .checkbox label {
  white-space: normal;
  margin-right: 2rem;
  text-transform: uppercase;
}

ux-dialog.connections .disclaimer .checks input[type=checkbox]:checked + .checkbox-decorator .check,
label.checkbox-inline input[type=checkbox]:checked + .checkbox-decorator .check {
  color: $color-ds-green;
}

ux-dialog.connections .disclaimer .checks .checkbox-decorator {
    padding-top: 1.05rem;
}

ux-dialog.connections .disclaimer .bmd-form-group {
    padding-top: .5rem;
}

ux-dialog.connections .disclaimer hr {
    margin-top: 2.5rem;
    border-color: $color-ds-black;
}

ux-dialog-overlay.active {
  background-color:$color-ds-black;
  opacity: .5 !important;
}

ux-dialog.connections ux-dialog-body,
ux-dialog.alert ux-dialog-body {
  padding-bottom: .25rem !important;
}

.dialog.connections pageloading .fa-spin {
  margin-top: .4rem;
}
