@import "./colors";

.landing-page .delayed-warning-section {
  background-color: $color-ds-red;
  padding-top: 2rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
}

.landing-page .delayed-warning-section .body {
  text-align:center;
  width:100%;
}

.landing-page .main-content {
  overflow-x: auto;
  overflow-y: scroll;
  /* so top can be repositioned when header height changes (see fixScrollbar) */
  position: relative;
}

.landing-page .countdown {
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size:3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.landing-page .count {
  font-weight: 500;
  color: $color-ds-darkblue;
}

.landing-page .main-header {
  margin-bottom: 5rem;
}

.landing-page .main-header img {
  width: 100%;
}


.landing-page .primary-section {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.landing-page .primary-section .header {
  color: $color-ds-darkblue;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.5rem;
}

.landing-page .primary-section .icon {
  margin-bottom: 1.5rem;
  text-align: center;
}

.landing-page .primary-section .icon img {
  width: 4rem;
}

.landing-page .primary-section .body-text {
  margin-bottom: 1rem;
}

.landing-page .secondary-sections {
  background-color: $color-ds-grey-1;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.landing-page .secondary-sections .section {
  border-top-width: .3rem;
  border-top-style: solid;
  margin-top: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.landing-page .secondary-sections .section.green {
  border-top-color: $color-ds-green;
}

.landing-page .secondary-sections .section.bluegreen {
  border-top-color: $color-ds-bluegreen;
}

.landing-page .secondary-sections .section.darkblue {
  border-top-color: $color-ds-darkblue;
}

.landing-page .secondary-sections .section.lightblue {
  border-top-color: $color-ds-lightblue;
}

.landing-page .secondary-sections .section .header {
  color: $color-ds-black;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  line-height: 2.1rem;
}

.landing-page .pie-chart-section {
  padding-top:5rem;
  padding-bottom:5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  color: $color-ds-white;
  text-align: center;
  background: #20afbb;
  background: radial-gradient(circle, #20afbb 6%, #1a859c 53%, #13687c 100%); 
}

.landing-page .pie-chart-section .pie-title {
  font-size:2.5rem;
  margin-bottom: 4rem;
  line-height: 2.6rem;
}
.landing-page .pie-chart-section .pie-chart {
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.landing-page .pie-chart-section .pie-chart img {
  display:none;
}

@media (max-width: 500px) { 
  .landing-page .pie-chart-section .pie-chart img.portrait-small {
    display: inline-block;
  }
}

@media (min-width: 501px) { 
  .landing-page .pie-chart-section .pie-chart img.portrait-small {
    display: none;
  }
  .landing-page .pie-chart-section .pie-chart img.portrait-medium {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .landing-page .pie-chart-section .pie-chart img.portrait-medium {
    display: none;
  }
  .landing-page .pie-chart-section .pie-chart img.landscape {
    display: inline-block;
  }
}

@media (min-width: 576px) { 
  .landing-page .pie-chart-section .pie-chart {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 670px) { 
  .landing-page .pie-chart-section .pie-chart {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 768px) {
  .landing-page .pie-chart-section .pie-chart {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.landing-page .pie-chart-section .pie-chart img {
  max-width:100%;
  max-height:auto;
}

.landing-page .pie-chart-section .footer {
  font-size:.9rem;
}

.landing-page .join-section {
  background-color: $color-ds-black;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  color: $color-ds-white;
  font-size: 2.6rem;
}

.landing-page .btn-container {
  text-align: center;
}

.landing-page .btn-container .btn-primary {
  background-color: $color-ds-darkblue !important;
}

.landing-page .btn-container .btn-primary:hover {
  background: $color-ds-white !important;
  color: $color-ds-darkblue !important;
}
