/**
  This file is for inclusion in index.ejs, before we have access to the scss, which currently
  we only compile via typescript import and resulting webpack bundling.
*/
@font-face {
  font-family: "DINPro";
  src: url("./fonts/DINPro-Light.woff");
  font-weight: 300;
}
@font-face {
  font-family: "DINPro";
  src: url("./fonts/DINPro-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "DINPro";
  src: url("./fonts/DINPro-Bold.woff");
  font-weight: 500;
}
@font-face {
  font-family: "DINPro";
  src: url("./fonts/DINPro-Bold.woff");
  font-weight: bold;
}

body {
  font-weight: 300;
  overflow: hidden;
  font-family: "DINPro,Roboto,Helvetica,Arial,sans-serif";
}

.splash {
  font-family: DinPro;
}

.splash h1 {
  font-weight: 400;
  margin-bottom: 2rem;
  color:#007BBC;
}

.splash img {
  margin-bottom: 3.5rem;
  width: 7rem
}

.splash span.fa-spin {
  color: #007BBC;
}
