// @import "~static/bootstrap";
// @import "~mdbootstrap-sass/data/colors";
// @import "~bootstrap-sass/utilities/text";
// @import "~bootstrap-sass/buttons";

@import "./colors";

$popover-bg:  $color-ds-black;
$popover-arrow-color: $color-ds-black;
$popover-header-color: $color-ds-white;
$popover-body-color: $color-ds-white;
$popover-max-width: 23rem;

$font-family-base: "DINPro";

@import "~BMD/core"; 

@import "./dialogs";
@import "./src/organizations/dashboard";
@import "./src/services/snackbars";

.color-green {
  color: $color-ds-green !important;
}

.color-red {
  color: $color-ds-red !important;
}

/**
  See base.css for fonts and body
**/

.container.admin-page {
   margin-top: 3rem;
}

.root {
  padding: 0;
}

.content-body {
  overflow: auto;
  /* so top can be repositioned when header height changes (see app.ts) */
  position: relative;
}

footer, .navbar.footer {
  background-color: $color-ds-grey-7 !important;
}

.navbar.header {
  background-color: $color-ds-black !important;
  padding-top: .5rem;
  padding-bottom: .5rem;
  z-index: 2000; // not sure why this is needed, but otherwise stuff tends to randomly appear on top of the header
}

.navbar.header .logo {
  margin-left:.2rem;
  margin-right:1.2rem;
  height:2rem;
 }

.navbar.header .company-name {
  display: inline-block;
}

.navbar.footer {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: $color-ds-white;
}

.navbar.footer .addresses {
  text-align:right;
  display: inline-block;
}

.navbar.footer .addresses .userBalance {
  margin-left: 1.0rem;
  display: inline-block;
  white-space: nowrap;
}

.navbar.footer .addresses .userAddress {
  display: inline-block;
  white-space: nowrap;
}

etherscanlink .nav-link {
  padding: 0;
}


h1 {
  font-weight: 400;
}

h2 {
  margin-bottom: 3rem; 
}

section h4 {
  margin-bottom: 1rem;
}

.bg-warning {
  background-color: $color-ds-red !important; }

.footer {
  font-size: .9rem;
}

.footer img.logo {
  height: 1rem;
}

.header a.anchor-secondary {
  color: $color-ds-white;
}

.header a.anchor-secondary:hover {
  color: $color-ds-white;
  text-decoration: underline;
}


.footer a,
.footer button,
.footer .ethbalance,
.footer  .genbalance,
.footer etherscanlink a,
.header a,
.snackbar-action-wrapper etherscanlink a,
.snackbar-action-wrapper .copy-to-clip-button,
.footer .copy-to-clip-button,
.header .copy-to-clip-button,
.popover etherscanlink a,
.popover .copy-to-clip-button,
.header .header-link
{
  color: $color-ds-yellow;
}

.footer a:hover, 
.header a:hover,
.header .copy-to-clip-button:hover,
.snackbar-action-wrapper etherscanlink a:hover,
.snackbar-action-wrapper .copy-to-clip-button:hover,
.popover etherscanlink a:hover,
.popover .copy-to-clip-button:hover
{
  color: $color-ds-yellow;
  background-color: transparent;
}

a:hover
{
  text-decoration: underline;
}

a.bg-warning:focus, a.bg-warning:hover {
  background-color: $color-ds-red !important; }

.text-warning {
  color: $color-ds-red !important; }

a.text-warning:focus, a.text-warning:hover {
  color: $color-ds-red !important; }

.text-primary {
  color: $color-ds-black !important;
}

.btn-primary {
  color: $color-ds-white !important;
  background-color: $color-ds-black  !important;
  border-color: $color-ds-black  !important;
  border-width: 1px  !important;
  border-style: solid  !important;
}

.btn-primary:hover {
  color: $color-ds-black !important;
  background-color: $color-ds-white  !important;
}

.btn-secondary {
  color: $color-ds-grey-4 !important;
  background-color: $color-ds-white  !important;
  border-color: $color-ds-grey-4  !important;
  border-width: 1px  !important;
  border-style: solid  !important;
}

.btn-secondary:hover {
  color: $color-ds-black !important;
  background-color: $color-ds-white  !important;
}

.tooltip {
  z-index: 999999;
}

@media print {
  .hidden-print, .hidden-print * {
      display: none !important;
  }
  .visible-print, .visible-print * {
    display: inherit !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.nofocus:focus {
  outline: none;
}

.hidden {
  display:none;
}

.hot {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.progress {
  height: 1.25rem;
}

.form-group.address {
  width: 20rem;
}

.form-group.address input.form-control {
  width: inherit;
}

.clearWidth {
  width:initial !important;
}

form {
  padding-top: 0 !important;
}

.instructions {
  padding: 1rem;
  color: $color-ds-white;
  background-color: $color-ds-darkblue;
}

.instructions-body {
  font-size: 1.1rem;
  font-style: italic;
  padding-left: 1rem;
}

.instructions i {
  font-size: 2rem;
}

.arc-schemes-dropdown-button
.voting-machine-dropdown-button
.global-constraints-dropdown-button {
  font-weight: bold;
}

/** eliminate the nasty 32 pixel margin that BMD adds **/
.list-group.clean .list-group-item :first-child {
  margin-right: unset; /* override BMD */
}

.list-group.clean .list-group-item .material-icons:last-child {
  padding-left: unset !important;
}

.form-section-header {
  font-weight: bold;
  padding-top: 1.5rem;
}

.fee-input {
  width:7rem;
}

.dropdown {
  display: inline-block;
}

/* animate page transitions */
/* section.au-enter-active {
  animation: fadeInRight 1s;
} */

/* div.au-stagger {
  /* 50ms will be applied between each successive enter operation
  animation-delay: 50ms;
} */

.table.plain-table th, .table.plain-table td {
    border-top-width: 0;
}

.collapseButtonIcon {
  text-decoration: none !important;
}

.collapseButtonIcon:not(.collapsed)::after {
  color: $color-ds-grey-4;
  content: "\0020\25B2";
}

.collapseButtonIcon.collapsed::after {
  color: $color-ds-grey-4;
  content: "\0020\25BC";
}

label {
  white-space: nowrap;
}

.input-group-text {
  display: inline-block;
  margin-right: .4rem !important;
}

.btn-submit {
  @extend .btn;
  @extend .btn-primary;
}

.btn-submit:hover {
  @extend .btn:hover;
  @extend .btn-primary:hover;
}

.bmd-help + div.input-group-append > button.btn-submit {
  padding-top: .6rem;
}

div.buttonAtTop {
  margin-top: -1.75rem;
  margin-left: .5rem;
  margin-bottom: .5rem;
}

div.buttonAtTop > div.bmd-form-group {
  padding-top: 0;
}

div.buttonAtTop .btn,
div.buttonAtTop .btn {
  padding-left: .5rem;
}

td.has-etherscan-link {
  padding-top: .15rem;
  padding-bottom: 0;
}

.pageloading
{
  text-align:center;
}

.pageloading .text {
  margin-bottom:2.75rem;
  font-size: 1rem;
}

.pageloading i {
  color: $color-ds-lightblue;
}

etherscanlink {
  white-space: nowrap;
  display: inline-block;
}

.smallEtherScanlLink {
  display:inline-block;
  vertical-align: middle;
  width:4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-to-clip-button {
  color: $color-ds-black;
  white-space: nowrap;
  display: inline-block;
}

.copy-to-clip-button:hover {
  background-color: transparent;
  color: $color-ds-black;
}

.pageloading {
  font-weight: 400;
}
