// @import "~static/bootstrap";
// @import "~mdbootstrap-sass/data/colors";
// @import "~bootstrap-sass/utilities/text";
// @import "~bootstrap-sass/buttons";

@import "./colors";

$popover-bg:  $color-ds-black;
$popover-arrow-color: $color-ds-black;
$popover-header-color: $color-ds-white;
$popover-body-color: $color-ds-white;
$popover-max-width: 23rem;

$font-family-base: "DINPro";

@import "~BMD/core"; 

@import "./animations";
@import "./dialogs";
@import "./banner";
@import "./src/schedule/schedule";
@import "./landing";
@import "./src/organizations/dashboard";
@import "./src/services/snackbars";

.color-green {
  color: $color-ds-green !important;
}

.color-red {
  color: $color-ds-red !important;
}

/**
  See base.css for fonts and body
**/

.container.admin-page {
   margin-top: 3rem;
}

.root {
  padding: 0;
}

a {
  color: $color-ds-darkblue;
}

a:hover
{
  color: $color-ds-darkblue;
  text-decoration: underline;
}

footer, .navbar.footer {
  background-color: $color-ds-grey-7 !important;
}

.navbar.header {
  background-color: $color-ds-black !important;
  padding-top: .5rem;
  padding-bottom: .5rem;
  z-index: 998;
}

.navbar.header .logo {
  margin-left:.2rem;
  margin-right:1.2rem;
  height:2rem;
 }

.navbar.header .company-name {
  display: inline-block;
}

.navbar.footer {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: $color-ds-white;
}

.navbar.footer .userBalance {
  display: inline-block;
  white-space: nowrap;
}

.navbar.footer .userAddress {
  display: inline-block;
  white-space: nowrap;
}

.navbar.footer .userBalance .balance,
.navbar.footer .userBalance .ethbalance {
  color: $color-ds-yellow;
  margin-right:.5rem;
}

etherscanlink .nav-link {
  padding: 0;
}


h1 {
  font-weight: 400;
}

h2 {
  margin-bottom: 3rem; 
}

section h4 {
  margin-bottom: 1rem;
}

.bg-warning {
  background-color: $color-ds-red !important; }

.footer {
  font-size: .9rem;
}

.footer img.logo {
  height: 1rem;
}

.header a.anchor-secondary {
  color: $color-ds-white;
}

.header a.anchor-secondary:hover {
  color: $color-ds-white;
  text-decoration: underline;
}


.footer a,
.footer button,
.footer .ethbalance,
.footer  .genbalance,
.footer etherscanlink a,
.header a,
.snackbar-action-wrapper etherscanlink a,
.snackbar-action-wrapper .copy-to-clip-button,
.footer .copy-to-clip-button,
.header .copy-to-clip-button,
.popover etherscanlink a,
.popover .copy-to-clip-button,
.header .header-link
{
  color: $color-ds-yellow;
}

.footer a:hover, 
.header a:hover,
.header .copy-to-clip-button:hover,
.footer .copy-to-clip-button:hover,
.snackbar-action-wrapper etherscanlink a:hover,
.snackbar-action-wrapper .copy-to-clip-button:hover,
.popover etherscanlink a:hover,
.popover .copy-to-clip-button:hover
{
  color: $color-ds-yellow;
  background-color: transparent;
}

a.bg-warning:focus, a.bg-warning:hover {
  background-color: $color-ds-red !important; }

.text-warning {
  color: $color-ds-red !important; }

a.text-warning:focus, a.text-warning:hover {
  color: $color-ds-red !important; }

.text-primary {
  color: $color-ds-black !important;
}

.btn-primary {
  color: $color-ds-white !important;
  background-color: $color-ds-black  !important;
  border-color: $color-ds-black  !important;
  border-width: 1px  !important;
  border-style: solid  !important;
}

.btn-primary:hover {
  color: $color-ds-black !important;
  background-color: $color-ds-white  !important;
}

.btn-secondary {
  color: $color-ds-grey-4 !important;
  background-color: $color-ds-white  !important;
  border-color: $color-ds-grey-4  !important;
  border-width: 1px  !important;
  border-style: solid  !important;
}

.btn-secondary:hover {
  color: $color-ds-black !important;
  background-color: $color-ds-white  !important;
}

.tooltip {
  z-index: 999; // high but still below the dialog underlay
}

@media print {
  .hidden-print, .hidden-print * {
      display: none !important;
  }
  .visible-print, .visible-print * {
    display: inherit !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.nofocus:focus {
  outline: none;
}

.hidden {
  display:none;
}

.hot {
  cursor: pointer;
}

.hot:hover {
  text-decoration: underline;
}

.inline {
  display: inline-block;
}

.progress {
  height: 1.25rem;
}

.form-group.address {
  width: 20rem;
}

.form-group.address input.form-control {
  width: inherit;
}

.clearWidth {
  width:initial !important;
}

form {
  padding-top: 0 !important;
}

.instructions {
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $color-ds-white;
  background-color: $color-ds-darkblue;
}

.instructions-body {
  font-size: 1rem;
  padding-left: 1rem;
  line-height: 1.35rem;
}

.instructions-icon {
    vertical-align: top;
    padding-top: .5rem;
}

.instructions-icon i {
  font-size: 2rem;
}

/** eliminate the nasty 32 pixel margin that BMD adds **/
.list-group.clean .list-group-item :first-child {
  margin-right: unset; /* override BMD */
}

.list-group.clean .list-group-item .material-icons:last-child {
  padding-left: unset !important;
}

.table.plain-table th, .table.plain-table td {
    border-top-width: 0;
}

label {
  white-space: nowrap;
}

.input-group-text {
  display: inline-block;
  margin-right: .4rem !important;
}

.btn-submit {
  @extend .btn;
  @extend .btn-primary;
}

.btn-submit:hover {
  @extend .btn:hover;
  @extend .btn-primary:hover;
}

.btn-link {
  color: $color-ds-darkblue;
  font-weight: 400;
  text-transform: none;
}

.btn-link:hover {
  color: $color-ds-darkblue;
  text-decoration: underline;
  font-weight: 400;
  text-transform: none;
}

.bmd-help + div.input-group-append > button.btn-submit {
  padding-top: .6rem;
}

td.has-etherscan-link {
  padding-top: .15rem;
  padding-bottom: 0;
}

.pageloading
{
  text-align:center;
}

.pageloading .text {
  margin-bottom:2.75rem;
  font-size: 1rem;
}

.pageloading i {
  color: $color-ds-darkblue;
}

etherscanlink {
  white-space: nowrap;
  display: inline-block;
}

.smallEtherScanlLink {
  display:inline-block;
  vertical-align: middle;
  width:4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-to-clip-button {
  color: $color-ds-black;
  white-space: nowrap;
  display: inline-block;
}

.copy-to-clip-button:hover {
  background-color: transparent;
  color: $color-ds-black;
}

.pageloading {
  font-weight: 400;
}

.table thead th {
  font-weight: 400;
}

[class^='bmd-label'], [class*=' bmd-label'] {
    color: rgba(0, 0, 0, 0.75);
}

.warning-icon {
  margin-right: .5rem;
  position: relative;
  bottom: .1rem;
  font-size: 1.5rem;
}
